@import 'suitcss-base';

/* Eliminando .title ya que no se utiliza */
/* Eliminando .service-card y sus dependientes ya que no se utilizan en el ejemplo dado */

.container {
  max-width: 1500px;
  margin: 0rem auto; /* Centra el contenedor y añade espacio arriba */
}

/* Ajustando las clases para la fila y columnas para un espaciado coherente */
.row {
  margin-right: -15px;
  margin-left: -15px;
}

.row > [class^="col"] {
  padding-right: 15px;
  padding-left: 15px;
}

/* Optimizando .service-frame para que se use efectivamente */
.service-frame {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px; /* Asegura espacio debajo del marco */
}

/* Asegurando que .options-bar y sus botones estén estilizados correctamente */
.options-bar button {
  margin: 10px 5px; /* Ajusta el espaciado alrededor de los botones */
}
.custom-navbar {
  min-height: 100px; /* Ajusta este valor según necesites */
  padding: 0 10px; /* Ajusta el padding si es necesario */
}
